src/main/resources/Alien.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Alien">
        <xs:complexType>
            <xs:sequence>
                <xs:element name='SSN' type="xs:int"/>
                <xs:element name='name' type="xs:string"/>
                <xs:element name='mothership' type="xs:string"/>
                <xs:element name='rayGun' type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>